
.list-of-employees{
text-align:left;
padding-left:80px;
margin-top:30px;
}

.parent{
width:90%;
margin-inline:auto;
display:table;
margin-top:30px;
}

.list-of-employees{
text-align:left;
padding-left:80px;
margin-top:30px; 
}

.parent{
width:90%;
margin-inline:auto;
display:table;
margin-top:30px;
}

.employee-list-container:-webkit-scrollbar{
display: none;
}

.main-container{
background-image: linear-gradient(-20deg, #78bcff87, white 55% 45%); 
width:100%;
}

.employees-list-details-container{
display: flex;
width:85%;
margin-inline: auto;
padding-top: 50px;
height: 90vh;
}

.employee-list-container{
flex: .4;
text-align: start;
height: 85vh;
overflow: scroll;
-ms-overflow-style: none;  
scrollbar-width: none;
}

.employee-list-container p{
width:max-content;
}

.employee-list-container p:hover{
cursor:pointer;
color: #063a6e;
}

.employee-list-container p:focus{
cursor:pointer;
color: #063a6e;
}

.employee-list-container h3{
margin-bottom:22px ;
font-weight:normal;
}

.employee-details-container{
flex: .5;
display: flex;
align-items: center;
}

.employee-details p{
margin:0;
}

.employees-details-sub-container{
padding:20px 40px;
background-color: transparent;
width: 80%;
background-image: linear-gradient(-10deg, #aacef349, white 55% 45%); 
}

.employees-details-sub-container h4{
width: 100%;
text-align: start;
font-size: 30px;
margin-bottom:18px ;
}

.add-leave-container{
margin-top: 35px;
display:flex;
flex-direction: column;
width: max-content;
}

.add-leave-container form{
display: flex;
flex-direction: column;
gap: 5px;
}

.input-label{
display: flex;
align-items: flex-start;
justify-content: flex-start;
margin-bottom: 10px;
}

.input-field{
display: flex;
margin-bottom: 15px;
align-items: flex-start;
justify-content: flex-start;
}

.add-leave-container label{
width: 120px;
margin: 0 !important;
text-align: start;
}

.add-leave-container input{
margin: 0 !important;
border:1px solid #063a6e;
border-radius: 4px;
}

.add-leave-container input:focus{
border-color:#063a6e;
outline:none;
}

.employee-name{
font-size:30px;
font-weight:normal;
}

.add-leave-container h4{
font-size: 25px;
margin-bottom: 18px;
font-weight:normal;
}

.details-key,.details-value{
display:flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}

.employee-details{
display: flex;
gap: 10px;
}

.leave-submit-btn{
padding: 7px 15px;
border: none;
background-color: #113559;
color: white;
margin-bottom: 20px;
margin-top: 10px;
border-radius: 5px;
position:relative;
width: max-content;
align-self: center;
cursor:pointer;
}

.leave-submit-btn:focus{
background-color: #466f97;
}

.search-container{
width:max-content;
display:flex;
position:relative;
margin-bottom:18px;
}

.search-container input{
outline:none;
border:1px solid #0d2e4e50;
padding: 2px 5px 2px 15px !important;
border-radius: 12px;
}

.search-container svg{
position:absolute;
right:5px;
top:50%;
transform:translate(0,-50%);
} 

.message-container {
position: fixed; 
top: 200px; 
left: 50%;
padding-inline: 40px;
border:none;
border-radius:5px;
color: white;
}

.success-message,.error-message {
color: rgb(112, 112, 112);
font-weight: 18px;
font-size: 18px;
}



