
.about {
text-align: center;
padding: 50px;
}

.about-content {
max-width: 800px;
margin: 0 auto;
padding: 0 20px;
}

.about-content h3 {
font-size: 2em;
color: #333;
margin-top: 60px;
font-family: 'Times New Roman', Times, serif;
background-image: linear-gradient(-20deg, #78bcff87, white 55% 45%); 
}

.about-content p {
font-size: 1.2rem;
line-height: 1.6;
color: #666;
margin-top: 24px;
text-align: justify;
}
