body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.heading-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 180px;
  background-image: linear-gradient(to top, #78bcff87, white 55% 45%); 
}

.heading{
/* Welcome To Hamons HRMS */
font-size: max(3.5vw,40px);
font-weight: 700;
}

.quote{
text-align: center;
margin-top: 20px;
font-size:18px;
font-style:italic;
}
